<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/paper.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
	<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap" rel="stylesheet">
	{% block head %}{% endblock %}
</head>
<body>
	{% block body %}{% endblock %}

	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>